<?xml version="1.0" encoding="UTF-8"?>
<web-app >
  <servlet>
    <servlet-name>MyHttpServlet</servlet-name>
    <servlet-class>com.tut.MyHttpServlet</servlet-class>
  </servlet>
 
 
  <servlet-mapping>
    <servlet-name>MyHttpServlet</servlet-name>
        <url-pattern>/myHttpServlet</url-pattern>
  </servlet-mapping>
 
 
 
 <servlet>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.tut.SecondServlet</servlet-class>
  </servlet>
 
 <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
        <url-pattern>/secondServlet</url-pattern>
  </servlet-mapping>
 


</web-app>